html{
    height: 100%;
}

body{
    /* background: url("https://cdn.pixabay.com/photo/2018/03/20/03/11/northern-lights-3242090_1280.jpg"); */
    background: white;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    margin:0px;
    padding: 0px;
    flex-direction: column;
}

.additional-wrapper{
    position: relative;
    min-height: 100%;
}
header{
    height: 110px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background:rgb(37, 37, 36);
    display: flex;
    top: 0px;
    justify-content: center; 
    align-items: center;
}

header .special-first{
    color:rgb(231, 229, 78);
    display: inline-block;
    margin:0px;

}

header .special-second{
    margin:0px;
    color: rgb(231, 170, 78);
    display: inline-block;
    padding-left: 10px;
}

header p{
    letter-spacing: 5px;
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

main{
    width:100%;
    position: relative;

}


.without-footer {
    padding-bottom: 90px;
}

.about-activity-block, .user-information-block, .relation-block{
    font-family: 'Montserrat', sans-serif;
    color: rgb(73, 73, 73);
}

.about-activity-block h1, .user-information-block h1, .relation-block h1{
    font-size: 25px;
    font-weight: 600;
}



.about-activity-block p{
    font-size: 17px;
    font-weight: 400;
}


.about-activity-block div{
    margin-top: 10px;
}

.separated{
    display:flex;
    justify-content: center;
    border-right: 3px solid black;
}

.separated:last-child{
    border-right:none;
}

.user-information-block{
    margin-top: 30px;
}

.user-information-block input,.row #relations-finder{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-top:none;
    border-right:none;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color:  rgb(39, 38, 38);
    background: rgb(240, 239, 237);
    padding-left: 5px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.5);
    font-family: 'Montserrat', sans-serif;
    color: rgb(53, 53, 53);

}

input::placeholder{
    letter-spacing: 1.5px;
    font-style: italic;
    color: rgb(121, 120, 119);

}

input:active, input:focus {
    outline: none;
  }

input{
    margin-bottom: 20px !important;
    border: 0 solid ;
    height: 100px;
}

#friend-form-row{
    margin-top:15px;
}

.mobile{
    display: none;
}

#digest-button,#digest-button-mobile, #search-button{
    outline: none;
    transition: 0.3s;
    background: none;
    border: 2px solid rgb(73, 73, 73);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.47);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.47);
}

#digest-button:hover, #search-button:hover{
    color: black;
    background: rgb(198, 197, 194);
}

#digest-button:active, #search-button:active, #digest-button-mobile:active{
    color: black;
    box-shadow: none;
}

.button-row{
    margin-top: -5px;
}

.relation-block{
    margin-top: 20px;
}

.relation-connection{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(50, 50, 50);
    -moz-box-shadow:    0px 0px 5px 0px rgb(50, 50, 50);
    box-shadow:         0px 0px 5px 0px rgb(50, 50, 50);

}

.handshake-view{
    display: flex;
    justify-content: center;
}

.relation-block-row{
    margin-top: 10px;
}
.handshake-view p{
    margin: 0px;
    font-family: 'Staatliches', cursive;
    color: black;
    font-size: 35px;
    padding-right: 12px;
}

.shaking-img{
    height: 40px;
    width: 40px;
    background: url("../images/handshake.png");
    background-size: cover;
}

#relations-finder{
    margin-bottom: 5px;
    padding-left: 0px;
}

#first-connection{
    margin-top: 20px;
}

.container{
    overflow: hidden;
    padding: 10px 0px 20px 10px;
    width: 80%;
    background: rgb(228, 227, 224);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 22px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 22px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 50px;
    padding-bottom: 90px;
    margin-top: 150px;
}

.row .notification p, .row .notification-server p{
    font-size: 15px;
    color: #f50808;
    margin: 0px;
    margin-bottom: 10px;

}

.row .notification-server-success p{
    font-size: 15px;
    color: #10a316;
    margin: 0px;
    margin-bottom: 10px;
}  
.footer{
        color: rgb(231, 170, 78);
        background:rgb(37, 37, 36);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 80px;}

body{
    height: 100%;
}

@media all and (max-width:720px){
    div .mobile{
        display: block;
        text-align: center;
    }
    div .mobile p,  .relation-connection p{
        font-size: 125%;
    }

    div .mobile h1, div .relation-block h1{
        font-size: 2.5em;
    }

    .mobile hr{
        border: 1px solid rgb(150, 150, 150);
        box-shadow: 0 -1px 0px 1px rgba(0,0,0,0.15);

    }

    #digest-button:hover, .relation-connection:hover{
        color: black;
        background: inherit;
    }

    main .container{
        height: auto;
        overflow: hidden;
        width: 100%;
        margin:0;
        padding-left: 0px;

    }
    div .screen{
        display: none;
    }

    main{
        top: 100px;
    }

    header p{
        letter-spacing: 5px;
        font-size: 40px;
        font-family: 'Staatliches', cursive;
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
    }
     
    .relation-block .relation-connection{
        border: 0px;
        border-radius: 0;
        border-bottom: 1px solid rgb(150, 150, 150);
        flex-direction: column;
        font-size: 15px;
        box-shadow: none;
    }

    #first-connection{
        border-top: 1px solid rgb(150, 150, 150);
        margin-top: 20px;
    }

    div .handshake-view p{
        font-size: 35px;
        padding-right: 12px;
    }
    
    .shaking-img{
        height: 40px;
        width: 40px;
        background: url("../images/handshake.png");
        background-size: cover;
    }

} 