<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <link rel="stylesheet" href="../static/style/main.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <p class="special-first">SIX</p>
        <p class="special-second">HANDSHAKES</p>
    </header>
    <main>
        <div class="container">
            <div class="about-activity-block">
                <div class="row center-xs">
                    <div class="col-xs-4">
                        <h1>Right now:</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 separated">
                        <p>IN QUEUE:<br>
                            256</p>
                    </div>
                    <div class="col-xs-4 separated">
                        <p>PROCESSED:<br>
                            256</p>
                    </div>
                    <div class="col-xs-4 separated">
                        <p>IN AVERAGE:<br>
                            256</p>
                    </div>
                </div>
            </div>
            <div class="user-information-block">
                <div class="row center-xs">
                    <div class="col-xs-6">
                        <h1>Become the next one!</h1>
                    </div>
                </div>
                <div class="row center-xs">
                    <div class="col-md-8">
                        <label for="user_link">Write the link to your VK page<br>
                        <input placeholder="write the link..." type="text" id="user_link"></label>
                    </div>
                </div>
                <div class="row center-xs" id="friend-form-row">
                    <div class="col-md-8">
                        <label for=:friend_link">Write the link to the VK page of the required person<br>
                        <input placeholder="write the link..." type="text" id="friend_link"></label>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>